/* THIS IS FOR MY NAV ELEMENTS ------------------------------------------*/ 

 
.article{
	-moz-column-count: 2; 
}

h1, h2{
	text-shadow: 2px 2px 2px #c00
} 

h2{ 
	padding-bottom: -50px; 
}

.bulletstyle {
	margin: 20px; 
	list-style-type: circle; 
	float: none; 	
}

.mail{
	display: block; 
	background: #f00; width: 200px; 
	padding: 5px 
}

body {
	font-family: Croissant One; Arial; 
	width: 650px;
	margin: 0 auto;
	background-image: url("../images/airplane.jpg"); 
	background-position: right center;  
	background-repeat: no-repeat;

}
.second{
	float: left; 
	margin-left: 19px; 
}

ul {
	width: 650px;
	margin: 0 auto;
	list-style-type: none;
	padding: 0;
	overflow: hidden;
}

nav li {
	width: 162px;
	float: left;
}

nav a {
	text-decoration: none;
	display: block;
	background: #f00; 
	height: 30px; 
	line-height: 30px; 
	text-align: center; 	
}

nav a:hover { 
	color: #c30;
	background: #000; 
}

.pictures{     /*   THIS IS THE UL ID   */   
	width: 650px;
	margin: 0 auto; 
	border: 3px dashed #000;
	list-style-type: none; 
	margin: 20px auto;
	overflow: hidden;
	padding: 5px ;
}

.image {      /*   THIS IS THE LI ID   */   
	float: left;
	list-style-type: none;
	margin: 0 auto;
	margin-left: ; 
	width: 650px; 
}

.border {      /*   THIS IS THE ANCHOR ID   */   
	border: 3px solid #000; 
	display: block; 
	height: 90px; 
	width: 150px; 
	outline: 0; 
}

.border:hover {
	border-color: #f00; 
}




