/* HERE I'M MAKING RESPONSIVE TEXT */



#wrapper {
		font: 100%/1.5 "helvetica neue", Arial, helvetica; 
		max-width: 650px; /* 650px; */ 
		margin: 0 auto; 
}
 
article{
	-moz-column-count: 3; 
}
/* HERE I'M MAKING RESPONSIVE TEXT */
h1, h2, h3{
	font-size: 1.5em /*  this is 24px */  
	font: 100%/1.5 "helvetica neue", Arial, helvetica;
	text-shadow: 2px 2px 2px #f00;
} 

/* HERE I'M MAKING RESPONSIVE TEXT */

p {
	font-size: 0.9375em; /*this is 15px*/
}

aside {	
	font-size: 0.9375em; /*this is 15px*/
	width:  92.308%; /*600px / 650px */
}

.bulletstyle {
	margin: 3.077%;  /* 20 / 650 */ 
	list-style-type: circle; 
	float: none; 



body {
	font-family: Croissant One; Arial; 
/*	font: 100%/1.5 "helvetica neue", Arial, helvetica; */ 
	width: 100%;  /*  650px */
	margin: 0 auto;
	background-image: url("../images/airplane.jpg"); 
	background-position: right center;  
	background-repeat: no-repeat;
}

.second{
	float: left; 
	margin-left: 2.923%; /* 19 / 650 */
}

ul {
	width: 650px;
	margin: 0 auto;
	list-style-type: none;
	padding: 0;
	overflow: hidden;
}

nav li {
	width: 162px;
	float: left;
}

nav a {
	text-decoration: none;
	display: block;
	background: #f00; 
	height: 30px; 
	line-height: 30px; 
	text-align: center; 	
}

nav a:hover { 
	color: #c30;
	background: #000; 
}
/* -------FROM HERE TO THE END NOTE, VALUES WERE CONVERTED BUT IT BROKE MY LAYOUT SO I CHANGED IT BACK */
#pictures{     /*   THIS IS THE UL ID   */   
	width: 640px;  
	margin: 0 auto; 
/*	border: 3px dashed #000;  THIS IS THE BORDER COMMENTED OUT */ 
	list-style-type: none; 
	/*margin: 20px auto;*/
	padding: 0px 3.077% 0px 0px; 
}

#pictures li {      /*   THIS IS THE LI ID   */   
	float: left;
	list-style-type: none;
	margin: 0 auto;
	margin-left: ; 
	width: 120px; 
	padding: 19px; 
}

.border {      /*   THIS IS THE ANCHOR ID   */   
	border: 10px solid #000; 
	display: block; 
	height: 103px; 
	width: 124px; 
	outline: 0;  
}
/*--------------END WHERE VALUES WERE NOT CONVERTED -----------*/ 
.border:hover {
	border-color: #f00; 
}

img {max-width: 100%;}

/*----------------THIS IS WHERE THE GRADIENT BUTTON CODE IS COPIED FROM THE CSS BUTTON SITE */ 
.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}
/*  -------------END OF THE BUTTON CODE FOR YOUR REVIEW MR. VINCZE------------------*/ 


/* Tablet portrait size to standard 960 (devices and browsers) */
@media screen and (min-width: 768px) and (max-width: 959px) {
/*#wrapper {background-color: #509cff }*/
	h3 {font-size: 2em; }
	#pictures li {padding: 1.538%;}  /* 10px / 650 */ 
	#pictures {width: 86.923%; } /* 565 / 650 */ 
	h1, h2, h3 {padding: 2.308%; }
	aside {padding: 2.308%; }
	p {padding: 2.308%; }  /* 15px / 650px */ 
	#pictures {border: none; }
}

/* mobile landscape size to tablet portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
/*#wrapper {background-color: #3cf }*/
nav li {float: none; }
h1, h2, h3 {padding: 2.308%; } /* 15px / 650 */ 
aside {padding: 3.077%; }  /* 20px / 650 */
#pictures {float: none; }
p {padding: 3.077%; }  /* 20px / 650 */ 
#pictures {border: none; }
#pictures li {float: none; }
article { -moz-column-count: 2; }
}

/* mobile portrait size to mobile landscape size */

@media only screen and (max-width: 479px) {
/*#wrapper {background-color: #09f;} */
p {padding: 3.077%; }  /* 20px / 650 */ 
h1, h2, h3 {padding: 2.308%; } /* 15px / 650 */ 
aside {padding: 3.077%; }  /* 20px / 650 */
#pictures {display: none; }
nav li {float: none; }
article { -moz-column-count: 1; }
}




